{
  "openapi": "3.0.1",
  "info": {
    "title": "Aztrix on-the-go API"
  },
  "servers": [
    {
      "url": "https://aztrix.app.n8n.cloud/webhook/",
      "description": "Aztrix on-the-go server"
    },
    {
      "url": "https://aztrix.app.n8n.cloud/webhook-test/",
      "description": "Aztrix on-the-go test server"
    }
  ],
  "tags": [
    {
      "name": "users"
    },
    {
      "name": "locations"
    },
    {
      "name": "sites"
    },
    {
      "name": "inbox"
    },
    {
      "name": "ai"
    },
    {
      "name": "whitelabel"
    },
    {
      "name": "notifications"
    },
    {
      "name": "publish"
    },
    {
      "name": "analytics"
    }
  ],
  "paths": {
    "/user/login": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Provide an access_token for the user",
        "description": "Provides an access_token for the email provided in the LoginCommand",
        "requestBody": {
          "description": "A LoginCommand object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginCommand"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User successfully authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "401": {
            "description": "Not Authorized"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/user/logout": {
      "post": {
        "tags": [
          "users"
        ],
        "responses": {
          "200": {
            "description": "Successfully logged out"
          },
          "500": {
            "description": "Error occurred during logout"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/user/reset-password": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Resets the user's password",
        "description": "Changes the user's password to a new password",
        "requestBody": {
          "description": "A ResetPassword object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPassword"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User password succesfully changed"
          },
          "403": {
            "description": "Forbidden"
          },
          "401": {
            "description": "Not Authorized"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/user": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Get the current user",
        "responses": {
          "200": {
            "description": "Successfully retrieved user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Error occurred"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "users"
        ],
        "summary": "Update the current user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully edited user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Error occurred"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/location": {
      "get": {
        "tags": [
          "locations"
        ],
        "summary": "Get a Location",
        "description": "Get all information about a specific location, including listing statuses",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The unique id of the location",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponseWrapper"
                }
              }
            }
          },
          "403": {
            "description": "Request Forbidden"
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "locations"
        ],
        "summary": "Update a Location",
        "description": "Make changes to a location. Any blank parameter deletes an old value, any unspecified parameter does nothing",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The uberall unique id for the location you want to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Location object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Location"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Location successfully edited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationWrapper"
                }
              }
            }
          },
          "403": {
            "description": "Request Forbidden"
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/locations": {
      "get": {
        "tags": [
          "locations"
        ],
        "summary": "Get Several Locations",
        "description": "Get locations managed by the current API user. Some fields are omitted (such as paymentOptions and services). For a full list use the GET/api/locations/$id endpoint.",
        "parameters": [
          {
            "name": "businessId",
            "in": "query",
            "description": "Only return locations in the business identified by businessId. Allowed multiple businessIds",
            "schema": {
              "type": "string"
            },
            "example": "/api/locations?businessId=123&businessId=456"
          },
          {
            "name": "businessIds",
            "in": "query",
            "description": "Returns all locations associated with multiple business ids",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "cities",
            "in": "query",
            "description": "Get locations in the requested cities",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "classification",
            "in": "query",
            "description": "Possible values: REQUIRED, BASIC, ADVANCED, BONUS and COMPLETE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countries",
            "in": "query",
            "description": "Get locations in the requested country",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "endDateMax",
            "in": "query",
            "description": "Only locations with an endDate less than or equal to endDateMax will be returned",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2020-02-05T12:18:12.000+01:00"
          },
          {
            "name": "endDateMin",
            "in": "query",
            "description": "Only locations with an endDate greater than or equal to endDateMin will be returned.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2018-02-05T12:18:12.000+01:00"
          },
          {
            "name": "excludedLocationIds",
            "in": "query",
            "description": "List of locationIds that should be excluded from the result",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "excludedLocationIds=20&excludedLocationIds=21 for multiple locations"
          },
          {
            "name": "facebookStatus",
            "in": "query",
            "description": "Possible values: CONNECTED, NOT_CONNECTED",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldMask",
            "in": "query",
            "description": "Possible fieldMask options ( 'id', 'name', 'identifier', 'street', 'streetNo', 'streetAndNumber', 'addressExtra', 'zip', 'city', 'country',\n                                                               'dateCreated', 'endDate', 'province', 'lat', 'lng', 'addressDisplay', 'phone', 'fax', 'timeZone',\n                                                               'cellphone', 'website', 'email', 'legalIdent', 'taxNumber', 'descriptionShort',\n                                                               'descriptionLong', 'imprint', 'openingHoursNotes', 'status', 'photos', 'attributes',\n                                                               'firstSyncStarted', 'lastUpdated', 'lastSyncStarted', 'autoSync', 'locationSyncable', 'businessId', 'businessName', 'productPlanName',\n                                                               'googleInsights', 'labels', 'customFields', 'features', 'groups', 'openingHours', 'specialOpeningHours', 'nameDescriptor',\n                                                               'actionsRequired', 'profileCompleteness', 'suggestionsForFieldsAvailable', 'listingsInSync', 'activeListingsCount',\n                                                               'dataPoints', 'averageRating', 'directoriesMissingConnect' )",
            "schema": {
              "type": "string"
            },
            "example": "fieldMask=city&fieldMask=zip"
          },
          {
            "name": "googleDirectoryStatus",
            "in": "query",
            "description": "Possible values: VERIFIED (the Google listing is verified and fully managed by us),\n                            UNVERIFIED (the Google listing is not verified),\n                            DISABLED (the Google listing is disabled),\n                            SUSPENDED (the Google listing is suspended),\n                            DUPLICATE (the Google listing is a duplicate),\n                            PENDING_VERIFICATION (a verification pin has been requested for the Google listing),\n                            NEEDS_REVERIFICATION (the verification process for the Google listing needs to be reverified),\n                            PENDING_REVIEW (there is no Google account connected for the listing)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "googleStatus",
            "in": "query",
            "description": "Possible values: VERIFIED (the Google listing is verified and fully managed by us),\n                            VERIFICATION_STARTED (a verification pin has been requested for the Google listing),\n                            VERIFICATION_NOT_STARTED (the verification process has not been start for the Google listing),\n                            NOT_CONNECTED (there is no Google account connected for the listing),\n                            VERIFIED_BY_THIRD_PARTY (there is a verified listing on Google but we do not manage it)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupIds",
            "in": "query",
            "description": "The groupId to which the location belongs",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "groups",
            "in": "query",
            "description": "The name of the group to which the location belongs",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Only return one location (per business) based on your internal identification system",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "labels",
            "in": "query",
            "description": "Only return locations that contain at least one of the given labels",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "locationIds",
            "in": "query",
            "description": "Only return locations identified by ids listed in locationIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "?locationIds=20&locationIds=22 for multiple locations"
          },
          {
            "name": "max",
            "in": "query",
            "description": "Used for pagination. Maximum number of results per page. Default: 50 (Without a defined FieldMask the maximum number of results is 50.)",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "missingDirectoryField",
            "in": "query",
            "description": "Only return locations that have no value for the given field",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "needsReview",
            "in": "query",
            "description": "If set to true, only return locations with faulty data in need of review. Default: false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset used for pagination. Default: 0",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "use asc for ascending sort or desc for descending sort",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postcodes",
            "in": "query",
            "description": "Get locations in the requested post / zip codes",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "provinces",
            "in": "query",
            "description": "Get locations in the requested province / state",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Filter by name, zip, street, city, label",
            "schema": {
              "type": "string"
            },
            "example": "Berlin"
          },
          {
            "name": "queryFields",
            "in": "query",
            "description": "The fields that will be searched to contain the value provided in the 'query' query parameter.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "selectAll",
            "in": "query",
            "description": "Setting selectAll to true allows finding ALL locations for any given businessId, locationIds and labels. In other words these fields are OR joined.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The location property to sort by (ascending unless order is specified).\n                            One of name, street, streetNo, zip, city, phone, cellphone, fax, website, email, lastSyncStarted, country",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by locations status. One of ACTIVE, INACTIVE, CANCELLED",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "syncNeeded",
            "in": "query",
            "description": "If set to true, filter locations that have been updated but did not start a sync yet",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "syncStarted",
            "in": "query",
            "description": "If set to true, filter locations that started a sync. If set to false, filter locations that never synced",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "temporarilyClosed",
            "in": "query",
            "description": "Filter for locations that are currently set to temporarily closed (True) or are not temporarily closed (False)",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationSearchParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Locations successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationSearchResponseWrapper"
                }
              }
            }
          },
          "403": {
            "description": "Request Forbidden"
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/categories": {
      "get": {
        "tags": [
          "locations"
        ],
        "summary": "Get All or Several Categories",
        "description": "Get a list of all available location categories, or specific location categories based on the following parameters",
        "parameters": [
          {
            "name": "categories",
            "in": "query",
            "description": "The uberall unique id of the category you want to get",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Filter categories by a search query",
            "schema": {
              "type": "string"
            },
            "example": "Auto"
          },
          {
            "name": "roots",
            "in": "query",
            "description": "Set to 'true' to show root categories as well (i.e., show all categories)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Show categories in the specified language. One of de, en, es, fr",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Used for pagination. Maximum number of results per page. Default: 10",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 10
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset used for pagination. Default: 0",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "SUCCESS",
                        "QUOTA_LIMIT_EXCEED",
                        "NOT_AUTHORIZED",
                        "FORBIDDEN",
                        "BAD_ACCESS_TOKEN",
                        "BAD_PRIVATE_KEY",
                        "BAD_PUBLIC_KEY",
                        "MISSING_PARAMETER",
                        "INVALID_PARAMETER",
                        "WRONG_PARAMETER_TYPE",
                        "CONFLICT",
                        "RESOURCE_LOCKED",
                        "SERVER_ERROR",
                        "ERROR",
                        "NOT_FOUND",
                        "BAD_REQUEST",
                        "USER_ERROR",
                        "PARTIAL_ERROR",
                        "METHOD_NOT_ALLOWED"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "(optional) Holds further information about the response"
                    },
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "NORMALIZATION_FAILED",
                        "DATA_CORRUPTED",
                        "INVALID_INPUT",
                        "NOT_SYNCABLE",
                        "PAYMENT_FAILED",
                        "FREE_TIER_REACHED",
                        "LIMIT_REACHED",
                        "INACTIVE",
                        "UNKNOWN",
                        "IDENTIFIER_NOT_UNIQUE",
                        "ACCOUNT_WAITING_FOR_AUTO_PAGE_SELECT",
                        "NO_ACCOUNT_CONNECTED",
                        "NO_PAGE_SELECTED",
                        "PAGE_NOT_CREATED",
                        "PAGE_IN_REVIEW",
                        "PAGE_CLAIMED_BY_OTHERS",
                        "OVERLAPPING_SOCIALPOST",
                        "TOO_MANY_REPLIES",
                        "REPLY_TOO_LONG",
                        "DEPRECATED"
                      ]
                    },
                    "warnings": {
                      "type": "array",
                      "description": "(optional) Holds further warnings",
                      "items": {
                        "type": "string",
                        "description": "(optional) Holds further warnings"
                      }
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "max": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "results": {
                          "oneOf": [
                            {
                              "type": "array",
                              "description": "A list of categories",
                              "items": {
                                "$ref": "#/components/schemas/Category"
                              }
                            },
                            {
                              "type": "object",
                              "properties": {
                                "resultTotalCount": {
                                  "type": "integer"
                                },
                                "results": {
                                  "type": "array",
                                  "description": "A list of categories",
                                  "items": {
                                    "$ref": "#/components/schemas/Category"
                                  }
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "location/photo": {
      "post": {
        "tags": [
          "locations"
        ],
        "requestBody": {
          "description": "The photo data to upload",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "locationId",
                  "photo",
                  "type"
                ],
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "A description for the photo - max 255 chars"
                  },
                  "locationId": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Location ID"
                  },
                  "photo": {
                    "type": "string",
                    "description": "file or base64"
                  },
                  "type": {
                    "$ref": "#/components/schemas/LocationPhotoType"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Forbidden"
          },
          "401": {
            "description": "Not Authorized"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "locations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The photo has been deleted"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid or Missing parameter"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/site/colors": {
      "get": {
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "sites"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "primary100": {
                    "type": "string"
                  },
                  "primary300": {
                    "type": "string"
                  },
                  "primary500": {
                    "type": "string"
                  },
                  "primary900": {
                    "type": "string"
                  },
                  "secondary100": {
                    "type": "string"
                  },
                  "secondary300": {
                    "type": "string"
                  },
                  "secondary500": {
                    "type": "string"
                  },
                  "secondary900": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/ai/conversation": {
      "post": {
        "tags": [
          "ai"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "conversationId": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "userLocation": {
                    "type": "object",
                    "properties": {
                      "lat": {
                        "type": "number",
                        "format": "double"
                      },
                      "lng": {
                        "type": "number",
                        "format": "double"
                      },
                      "freeform": {
                        "type": "string"
                      }
                    }
                  },
                  "dateTime": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string"
                    },
                    "conversationId": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "description": "All messages in the conversation including the assistant response",
                      "items": {
                        "type": "object",
                        "properties": {
                          "role": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/ai/chat": {
      "post": {
        "tags": [
          "ai"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId"
                ],
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "description": "All messages in the conversation including the assistant response",
                      "items": {
                        "type": "object",
                        "properties": {
                          "role": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/ai/memories": {
      "get": {
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved memories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "next": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "previous": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "memories": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "memory": {
                            "type": "string"
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "messages"
                ],
                "properties": {
                  "messages": {
                    "type": "array",
                    "description": "The conversation where memories should be retrieved from",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted memory"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/ai/system": {
      "get": {
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "description": "Successfull",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "task": {
                      "type": "string"
                    },
                    "context": {
                      "type": "string"
                    },
                    "exemplar": {
                      "type": "string"
                    },
                    "persona": {
                      "type": "string"
                    },
                    "format": {
                      "type": "string"
                    },
                    "tone": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/inbox": {
      "post": {
        "tags": [
          "inbox"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channels": {
                    "type": "string",
                    "enum": [
                      "cylex-review",
                      "google-review",
                      "iglobal-review",
                      "stadtbranchenbuch-review",
                      "whereto-review",
                      "cylex-comment",
                      "facebook-comment",
                      "facebook-recommendation",
                      "facebook-post",
                      "facebook-recommendationcomment",
                      "google-comment",
                      "google-question",
                      "google-photo",
                      "google-answer",
                      "instagram-comment",
                      "instagram-post",
                      "iglobal-comment",
                      "whereto-comment"
                    ]
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "status": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "resolved",
                        "unresolved",
                        "replied",
                        "unreplied",
                        "contentUpdated",
                        "contentNonUpdated"
                      ]
                    }
                  },
                  "page": {
                    "type": "number",
                    "default": 1
                  },
                  "pageSize": {
                    "type": "number",
                    "default": 20
                  },
                  "sort": {
                    "type": "string",
                    "default": "date"
                  },
                  "sortDir": {
                    "type": "string",
                    "enum": [
                      "asc",
                      "desc"
                    ],
                    "default": "desc"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InboxItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/inbox/item": {
      "get": {
        "tags": [
          "inbox"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxItem"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "401": {
            "description": "Not Authorized"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/inbox/item/children": {
      "get": {
        "tags": [
          "inbox"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InboxItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "401": {
            "description": "Not Authorized"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/inbox/reply": {
      "post": {
        "tags": [
          "inbox"
        ],
        "parameters": [
          {
            "name": "datapointId",
            "in": "path",
            "description": "Data point ID you want to reply to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "required": [
                    "reply"
                  ],
                  "reply": {
                    "type": "string",
                    "description": "The text you want to reply"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Reply sent",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DataPointResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "404": {
            "description": "Data point not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/whitelabel": {
      "get": {
        "tags": [
          "whitelabel"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhitelabelData"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "401": {
            "description": "Not Authorized"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "notifications/register": {
      "post": {
        "tags": [
          "notifications"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Forbidden"
          },
          "401": {
            "description": "Not Authorized"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "notifications/config": {
      "get": {
        "tags": [
          "notifications"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "newReviews": {
                      "type": "boolean"
                    },
                    "newReviewsIgnoreDirectories": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DirectoryType"
                      }
                    },
                    "newReviewsIgnoreStars": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "format": "int32"
                      }
                    },
                    "newSocialComments": {
                      "type": "boolean"
                    },
                    "aiSuggestions": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "401": {
            "description": "Not Authorized"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "notifications"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "newReviews": {
                    "type": "boolean"
                  },
                  "newReviewsIgnoreDirectories": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/DirectoryType"
                    }
                  },
                  "newReviewsIgnoreStars": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "newSocialComments": {
                    "type": "boolean"
                  },
                  "aiSuggestions": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Forbidden"
          },
          "401": {
            "description": "Not Authorized"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "publish/posts": {
      "get": {
        "tags": [
          "publish"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialPostsResponseWrapper"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "401": {
            "description": "Not Authorized"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "publish"
        ],
        "requestBody": {
          "description": "A SocialPost object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SocialPost"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Social Posts created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialPostWrapper"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "401": {
            "description": "Not Authorized"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/location/listings": {
      "get": {
        "tags": [
          "locations"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "query",
            "description": "The unique id of the location",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listing details successfully retrieved",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListingsDetailsResponseWrapper"
                }
              }
            }
          },
          "403": {
            "description": "Request Forbidden"
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/analytics": {
      "get": {
        "tags": [
          "analytics"
        ],
        "parameters": [
          {
            "name": "businessIds",
            "in": "query",
            "description": "The ids of the businesses you want insights data for",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "locationIds",
            "in": "query",
            "description": "The ids of the locations you want insights data for",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "textFilter",
            "in": "query",
            "description": "Filter locations to get insights data for by name, zip, street, city, label",
            "schema": {
              "type": "string"
            },
            "example": "Berlin"
          },
          {
            "name": "type",
            "in": "query",
            "description": "The directory you want insights for. Can be GOOGLE, FACEBOOK, BING or YELP_API",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date YYYY-MM-DD",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date YYYY-MM-DD",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "group",
            "in": "query",
            "description": "How to group the results, one of: HOUR (only for ACTIONS-PHONE), DAY, WEEK, MONTH, YEAR",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metrics",
            "in": "query",
            "description": "The types of metrics you want to get",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved insights data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InsightsWrapper"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid or Missing parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "LocationPhotoType": {
        "type": "string",
        "enum": [
          "MAIN",
          "DOCTOR_COM_PORTRAIT",
          "LOGO",
          "STOREFINDER_LOGO",
          "SQUARED_LOGO",
          "LANDSCAPE",
          "STOREFINDER_COVER",
          "FACEBOOK_LANDSCAPE",
          "MENU",
          "PHOTO",
          "ROOMS",
          "TEAMS",
          "AT_WORK",
          "PRODUCT",
          "EXTERIOR",
          "INTERIOR",
          "COMMON_AREA",
          "FOOD_AND_DRINK"
        ]
      },
      "WhitelabelData": {
        "type": "object",
        "properties": {
          "theme": {
            "type": "string",
            "enum": [
              "light",
              "dark"
            ]
          },
          "primaryColor": {
            "type": "string"
          },
          "secondaryColor": {
            "type": "string"
          },
          "tertiaryColor": {
            "type": "string"
          },
          "logo": {
            "type": "string"
          }
        }
      },
      "InboxItem": {
        "type": "object",
        "properties": {
          "actionDate": {
            "type": "string",
            "format": "date-time"
          },
          "author": {
            "type": "object",
            "properties": {
              "image": {
                "type": "string"
              },
              "isClient": {
                "type": "boolean"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "businessIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "contentType": {
            "type": "string",
            "enum": [
              "review",
              "comment",
              "recommendation",
              "recommendationcomment",
              "post",
              "photo"
            ]
          },
          "dataPointId": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "indexedDate": {
            "type": "string",
            "format": "date-time"
          },
          "isBrand": {
            "type": "boolean"
          },
          "isExpandedReviewNetwork": {
            "type": "boolean"
          },
          "location": {
            "$ref": "#/components/schemas/StoreFinderResponse"
          },
          "locationId": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "metrics": {
            "type": "object",
            "properties": {
              "likes": {
                "type": "integer"
              }
            }
          },
          "nativeId": {
            "type": "string"
          },
          "nativeLink": {
            "type": "string"
          },
          "nativeVenueLink": {
            "type": "string"
          },
          "parentDataPointId": {
            "type": "string"
          },
          "parentIdLink": {
            "type": "string"
          },
          "priority": {
            "type": "number",
            "format": "double"
          },
          "provider": {
            "type": "string"
          },
          "rating": {
            "type": "number",
            "format": "double"
          },
          "rootDataPointId": {
            "type": "string"
          },
          "rootIdLink": {
            "type": "string"
          },
          "salesPartnerId": {
            "type": "string"
          },
          "sortDate": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "media": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "image": {
                  "type": "string"
                },
                "dataPointId": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "AcceptedExtraFieldsResponseObject": {
        "type": "object",
        "properties": {
          "allergens": {
            "type": "array",
            "description": "List of accepted allergens",
            "items": {
              "type": "string",
              "description": "List of accepted allergens"
            }
          },
          "dietaryRestrictions": {
            "type": "array",
            "description": "List of accepted dietary restrictions",
            "items": {
              "type": "string",
              "description": "List of accepted dietary restrictions"
            }
          }
        },
        "description": "The actual response object of the response, optional for non 200 responses"
      },
      "AcceptedExtraFieldsResponseWrapper": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "QUOTA_LIMIT_EXCEED",
              "NOT_AUTHORIZED",
              "FORBIDDEN",
              "BAD_ACCESS_TOKEN",
              "BAD_PRIVATE_KEY",
              "BAD_PUBLIC_KEY",
              "MISSING_PARAMETER",
              "INVALID_PARAMETER",
              "WRONG_PARAMETER_TYPE",
              "CONFLICT",
              "RESOURCE_LOCKED",
              "SERVER_ERROR",
              "ERROR",
              "NOT_FOUND",
              "BAD_REQUEST",
              "USER_ERROR",
              "PARTIAL_ERROR",
              "METHOD_NOT_ALLOWED"
            ]
          },
          "message": {
            "type": "string",
            "description": "(optional) Holds further information about the response"
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "NORMALIZATION_FAILED",
              "DATA_CORRUPTED",
              "INVALID_INPUT",
              "NOT_SYNCABLE",
              "PAYMENT_FAILED",
              "FREE_TIER_REACHED",
              "LIMIT_REACHED",
              "INACTIVE",
              "UNKNOWN",
              "IDENTIFIER_NOT_UNIQUE",
              "ACCOUNT_WAITING_FOR_AUTO_PAGE_SELECT",
              "NO_ACCOUNT_CONNECTED",
              "NO_PAGE_SELECTED",
              "PAGE_NOT_CREATED",
              "PAGE_IN_REVIEW",
              "PAGE_CLAIMED_BY_OTHERS",
              "OVERLAPPING_SOCIALPOST",
              "TOO_MANY_REPLIES",
              "REPLY_TOO_LONG",
              "DEPRECATED"
            ]
          },
          "warnings": {
            "type": "array",
            "description": "(optional) Holds further warnings",
            "items": {
              "type": "string",
              "description": "(optional) Holds further warnings"
            }
          },
          "response": {
            "$ref": "#/components/schemas/AcceptedExtraFieldsResponseObject"
          }
        }
      },
      "AssetInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the DAM Asset"
          },
          "description": {
            "type": "string",
            "description": "Description of the DAM Asset"
          },
          "type": {
            "type": "string",
            "description": "Type of the DAM Asset that should be SOCIAL_POST_TEMPLATE"
          },
          "status": {
            "type": "string",
            "description": "Status of the DAM Asset that can be VISIBLE or HIDDEN"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the DAM Asset"
          },
          "endDate": {
            "type": "string",
            "description": "End date of the DAM Asset"
          },
          "allManagedResources": {
            "type": "boolean",
            "description": "Set to true if the Asset should be visible to all managed locations of the user"
          },
          "locationIds": {
            "type": "array",
            "description": "Location IDs of the DAM Asset",
            "items": {
              "type": "integer",
              "description": "Location IDs of the DAM Asset",
              "format": "int64"
            }
          },
          "businessIds": {
            "type": "array",
            "description": "Business IDs of the DAM Asset",
            "items": {
              "type": "integer",
              "description": "Business IDs of the DAM Asset",
              "format": "int64"
            }
          },
          "excludedLocationIds": {
            "type": "array",
            "description": "Excluded location IDs of the DAM Asset",
            "items": {
              "type": "integer",
              "description": "Excluded location IDs of the DAM Asset",
              "format": "int64"
            }
          },
          "labels": {
            "type": "array",
            "description": "Labels of the DAM Asset",
            "items": {
              "type": "string",
              "description": "Labels of the DAM Asset"
            }
          },
          "locationGroupIds": {
            "type": "array",
            "description": "Location Group IDs of the DAM Asset",
            "items": {
              "type": "integer",
              "description": "Location Group IDs of the DAM Asset",
              "format": "int64"
            }
          },
          "folderId": {
            "type": "integer",
            "description": "Folder ID where the DAM asset should be created",
            "format": "int64"
          }
        },
        "description": "DAM Asset Model"
      },
      "AttributeRecommendationsObject": {
        "type": "object",
        "properties": {
          "recommendedAttributeExternalIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "The actual response object of the response, optional for non 200 responses"
      },
      "AttributeRecommendationsWrapper": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "QUOTA_LIMIT_EXCEED",
              "NOT_AUTHORIZED",
              "FORBIDDEN",
              "BAD_ACCESS_TOKEN",
              "BAD_PRIVATE_KEY",
              "BAD_PUBLIC_KEY",
              "MISSING_PARAMETER",
              "INVALID_PARAMETER",
              "WRONG_PARAMETER_TYPE",
              "CONFLICT",
              "RESOURCE_LOCKED",
              "SERVER_ERROR",
              "ERROR",
              "NOT_FOUND",
              "BAD_REQUEST",
              "USER_ERROR",
              "PARTIAL_ERROR",
              "METHOD_NOT_ALLOWED"
            ]
          },
          "message": {
            "type": "string",
            "description": "(optional) Holds further information about the response"
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "NORMALIZATION_FAILED",
              "DATA_CORRUPTED",
              "INVALID_INPUT",
              "NOT_SYNCABLE",
              "PAYMENT_FAILED",
              "FREE_TIER_REACHED",
              "LIMIT_REACHED",
              "INACTIVE",
              "UNKNOWN",
              "IDENTIFIER_NOT_UNIQUE",
              "ACCOUNT_WAITING_FOR_AUTO_PAGE_SELECT",
              "NO_ACCOUNT_CONNECTED",
              "NO_PAGE_SELECTED",
              "PAGE_NOT_CREATED",
              "PAGE_IN_REVIEW",
              "PAGE_CLAIMED_BY_OTHERS",
              "OVERLAPPING_SOCIALPOST",
              "TOO_MANY_REPLIES",
              "REPLY_TOO_LONG",
              "DEPRECATED"
            ]
          },
          "warnings": {
            "type": "array",
            "description": "(optional) Holds further warnings",
            "items": {
              "type": "string",
              "description": "(optional) Holds further warnings"
            }
          },
          "response": {
            "$ref": "#/components/schemas/AttributeRecommendationsObject"
          }
        }
      },
      "AttributeWrapper": {
        "type": "object",
        "properties": {
          "externalId": {
            "type": "string",
            "description": "The google attribute id"
          },
          "value": {
            "type": "string",
            "description": "The value of the attribute. The value depends on the valueType.<br>\nBOOL: \"true\" or \"false\"<br>\nSingle URL:\"http://uberall.com\" <br>\nMultiple URLs: [\"http://uberall.com\", \"https://menuari2.com\"] <br>\nENUM:\"supportedValue1\" or \"supportedValue2\"<br>\nREPEATED_ENUM:\"supportedValue1,supportedValue2\""
          },
          "displayName": {
            "type": "string",
            "description": "The attribute''s name in the required language."
          },
          "groupDisplayName": {
            "type": "string",
            "description": "Attribute group name"
          },
          "valueMetadata": {
            "type": "array",
            "description": "List of possible values.",
            "items": {
              "type": "object",
              "description": "List of possible values"
            }
          },
          "valueType": {
            "type": "string",
            "description": "The attribute type.\ne.g. BOOL, URL, ENUM, REPEATED_ENUM",
            "example": "BOOL, URL, ENUM, REPEATED_ENUM",
            "enum": [
              "BOOL",
              "URL",
              "ENUM",
              "REPEATED_ENUM"
            ]
          }
        },
        "description": "Attribute Wrapper Model"
      },
      "AttributesResponseObject": {
        "type": "object",
        "properties": {
          "attributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AttributeWrapper"
            }
          }
        },
        "description": "The actual response object of the response, optional for non 200 responses"
      },
      "AttributesResponseWrapper": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "QUOTA_LIMIT_EXCEED",
              "NOT_AUTHORIZED",
              "FORBIDDEN",
              "BAD_ACCESS_TOKEN",
              "BAD_PRIVATE_KEY",
              "BAD_PUBLIC_KEY",
              "MISSING_PARAMETER",
              "INVALID_PARAMETER",
              "WRONG_PARAMETER_TYPE",
              "CONFLICT",
              "RESOURCE_LOCKED",
              "SERVER_ERROR",
              "ERROR",
              "NOT_FOUND",
              "BAD_REQUEST",
              "USER_ERROR",
              "PARTIAL_ERROR",
              "METHOD_NOT_ALLOWED"
            ]
          },
          "message": {
            "type": "string",
            "description": "(optional) Holds further information about the response"
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "NORMALIZATION_FAILED",
              "DATA_CORRUPTED",
              "INVALID_INPUT",
              "NOT_SYNCABLE",
              "PAYMENT_FAILED",
              "FREE_TIER_REACHED",
              "LIMIT_REACHED",
              "INACTIVE",
              "UNKNOWN",
              "IDENTIFIER_NOT_UNIQUE",
              "ACCOUNT_WAITING_FOR_AUTO_PAGE_SELECT",
              "NO_ACCOUNT_CONNECTED",
              "NO_PAGE_SELECTED",
              "PAGE_NOT_CREATED",
              "PAGE_IN_REVIEW",
              "PAGE_CLAIMED_BY_OTHERS",
              "OVERLAPPING_SOCIALPOST",
              "TOO_MANY_REPLIES",
              "REPLY_TOO_LONG",
              "DEPRECATED"
            ]
          },
          "warnings": {
            "type": "array",
            "description": "(optional) Holds further warnings",
            "items": {
              "type": "string",
              "description": "(optional) Holds further warnings"
            }
          },
          "response": {
            "$ref": "#/components/schemas/AttributesResponseObject"
          }
        }
      },
      "Attribution": {
        "required": [
          "logoUrl",
          "name",
          "url"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the attribution"
          },
          "url": {
            "type": "string",
            "description": "URL the attribution should point to"
          },
          "logoUrl": {
            "type": "string",
            "description": "URL pointing to the attribution logo"
          },
          "width": {
            "type": "integer",
            "description": "Width (in px) of the attribution logo",
            "format": "int32"
          },
          "height": {
            "type": "integer",
            "description": "Height (in px) of the attribution logo",
            "format": "int32"
          }
        },
        "description": "Attribution Model"
      },
      "AvailablePhotoTypesResponseObject": {
        "type": "object",
        "properties": {
          "availablePhotoTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "The actual response object of the response, optional for non 200 responses"
      },
      "AvailablePhotoTypesResponseWrapper": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "QUOTA_LIMIT_EXCEED",
              "NOT_AUTHORIZED",
              "FORBIDDEN",
              "BAD_ACCESS_TOKEN",
              "BAD_PRIVATE_KEY",
              "BAD_PUBLIC_KEY",
              "MISSING_PARAMETER",
              "INVALID_PARAMETER",
              "WRONG_PARAMETER_TYPE",
              "CONFLICT",
              "RESOURCE_LOCKED",
              "SERVER_ERROR",
              "ERROR",
              "NOT_FOUND",
              "BAD_REQUEST",
              "USER_ERROR",
              "PARTIAL_ERROR",
              "METHOD_NOT_ALLOWED"
            ]
          },
          "message": {
            "type": "string",
            "description": "(optional) Holds further information about the response"
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "NORMALIZATION_FAILED",
              "DATA_CORRUPTED",
              "INVALID_INPUT",
              "NOT_SYNCABLE",
              "PAYMENT_FAILED",
              "FREE_TIER_REACHED",
              "LIMIT_REACHED",
              "INACTIVE",
              "UNKNOWN",
              "IDENTIFIER_NOT_UNIQUE",
              "ACCOUNT_WAITING_FOR_AUTO_PAGE_SELECT",
              "NO_ACCOUNT_CONNECTED",
              "NO_PAGE_SELECTED",
              "PAGE_NOT_CREATED",
              "PAGE_IN_REVIEW",
              "PAGE_CLAIMED_BY_OTHERS",
              "OVERLAPPING_SOCIALPOST",
              "TOO_MANY_REPLIES",
              "REPLY_TOO_LONG",
              "DEPRECATED"
            ]
          },
          "warnings": {
            "type": "array",
            "description": "(optional) Holds further warnings",
            "items": {
              "type": "string",
              "description": "(optional) Holds further warnings"
            }
          },
          "response": {
            "$ref": "#/components/schemas/AvailablePhotoTypesResponseObject"
          }
        }
      },
      "BasicListing": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The location''s name used for this listing"
          },
          "nameStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "street": {
            "type": "string",
            "description": "The location''s street address"
          },
          "streetStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "streetNo": {
            "type": "string",
            "description": "The location''s street number"
          },
          "streetNoStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "streetType": {
            "type": "string",
            "description": "Required for Spain. One of ALAMEDA, AVENIDA, CALLE, CAMINO, CARRER, CARRETERA, GLORIETA, KALEA, PASAJE, PASEO, PLACA, PLAZA, RAMBLA, RONDA, RUA, SECTOR, TRAVESERA, TRAVESIA, URBANIZACION",
            "enum": [
              "ALAMEDA",
              "AVENIDA",
              "CALLE",
              "CAMINO",
              "CARRER",
              "CARRETERA",
              "GLORIETA",
              "KALEA",
              "PASAJE",
              "PASEO",
              "PLACA",
              "PLAZA",
              "RAMBLA",
              "RONDA",
              "RUA",
              "SECTOR",
              "TRAVESERA",
              "TRAVESIA",
              "URBANIZACION"
            ]
          },
          "streetTypeStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "streetAndNo": {
            "type": "string",
            "description": "A localized combination of street and streetNo"
          },
          "streetAndNoStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "addressExtra": {
            "type": "string",
            "description": "An address extra: e.g. building, floor...",
            "example": "building, floor, ..."
          },
          "addressExtraStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "zip": {
            "type": "string",
            "description": "Zip code"
          },
          "zipStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "city": {
            "type": "string",
            "description": "City"
          },
          "cityStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "addressDisplay": {
            "type": "boolean",
            "description": "If set to false the address will not be published on the directories, this is useful for businesses that don''t have customers come to them ( e.g. a plumber )",
            "example": true
          },
          "addressDisplayStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "example": "PRESENT",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "phone": {
            "type": "string",
            "description": "The location''s contact phone number"
          },
          "phoneStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "fax": {
            "type": "string",
            "description": "The location fax number"
          },
          "faxStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "cellphone": {
            "type": "string",
            "description": "A contact mobile phone number"
          },
          "cellphoneStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "website": {
            "type": "string",
            "description": "A valid url for the location''s website (use UTMs to add tracking)"
          },
          "websiteStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "email": {
            "type": "string",
            "description": "A contact email for the location"
          },
          "emailStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "descriptionLong": {
            "type": "string",
            "description": "A long description (up to 1000 characters) for the location",
            "example": "A long description (up to 1000 characters) for the location"
          },
          "descriptionLongStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "descriptionShort": {
            "type": "string",
            "description": "A short description (up to 200 characters) for the location"
          },
          "descriptionShortStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "imprint": {
            "type": "string",
            "description": "The location''s imprint"
          },
          "imprintStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "openingHours": {
            "type": "array",
            "description": "The location''s opening hours: e.g.\n<pre>[ &#123; \n    \"dayOfWeek\": 1,\n    \"closed\": false,\n    \"from1\": \"08:00\",\n    \"to1\": \"11:00\"\n  &#125;, \n  &#123;\n    \"dayOfWeek\": 2,\n    \"closed\": false,\n    \"from1\": \"08:00\",\n    \"to1\": \"11:00\",\n    \"from2\": \"13:00\",\n    \"to2\": \"21:00\"\n  &#125;,\n  &#123;\n    \"dayOfWeek\": 3,\n    \"closed\": true\n  &#125;\n]</pre>\nPlease note that having more than 2 time periods for each day is not possible.",
            "example": [
              {
                "dayOfWeek": 1,
                "closed": false,
                "from1": "08:00",
                "to1": "11:00"
              },
              {
                "dayOfWeek": 2,
                "closed": false,
                "from1": "08:00",
                "to1": "11:00",
                "from2": "13:00",
                "to2": "21:00"
              },
              {
                "dayOfWeek": 3,
                "closed": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OpeningHours"
            }
          },
          "openingHoursStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "openingHoursNotes": {
            "type": "string",
            "description": "Additional info about opening hours: e.g. ''We never open on bank holidays'' - max. 255 characters",
            "example": "We never open on bank holidays"
          },
          "openingHoursNotesStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "moreHours": {
            "type": "array",
            "description": "The location''s additional service hours, such as delivery, pickup, happy hours etc. Submitted to Google.",
            "example": "<pre>[&#123;\n    \"type\": \"ONLINE_SERVICE_HOURS\",\n    \"hours\": [&#123;\n        \"dayOfWeek\": 1,\n        \"from1\": \"09:00\",\n        \"to1\": \"18:00\"\n    &#125;, &#123;\n        \"dayOfWeek\": 2,\n        \"from1\": \"09:00\",\n        \"to1\": \"13:00\"\n    &#125;]\n&#125;, &#123;\n    \"type\": \"ACCESS\",\n    \"hours\": [&#123;\n        \"dayOfWeek\": 1,\n        \"from1\": \"06:00\",\n        \"to1\": \"20:00\"\n    &#125;]\n&#125;]</pre>",
            "items": {
              "$ref": "#/components/schemas/MoreHours"
            }
          },
          "moreHoursStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "specialOpeningHours": {
            "type": "array",
            "description": "The location''s special opening hours: e.g.\n<pre>[ &#123; \n    \"date\": \"2017-06-29\",\n    \"closed\": true\n  &#125;, \n  &#123;\n    \"date\": \"2017-06-30\",\n    \"from1\": \"11:00\",\n    \"to1\": \"14:00\",\n    \"from2\": \"16:00\",\n    \"to2\": \"20:00\"\n  &#125;\n]</pre>\nPlease note that having more than 2 time periods for each day is not possible.",
            "example": [
              {
                "date": "2017-06-29",
                "closed": true
              },
              {
                "date": "2017-06-30",
                "from1": "11:00",
                "to1": "14:00",
                "from2": "16:00",
                "to2": "20:00"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SpecialOpeningHours"
            }
          },
          "specialOpeningHoursStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "keywordsStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "categoriesStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "attributes": {
            "type": "array",
            "description": "The location''s Google attributes",
            "items": {
              "type": "object",
              "description": "The location's Google attributes"
            }
          },
          "attributesStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "photosStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "legalIdent": {
            "type": "string",
            "description": "A legal identifier of the location. SIRET number in France"
          },
          "legalIdentStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "taxNumber": {
            "type": "string",
            "description": "The tax number of the location. CIF/NIF in Spain"
          },
          "taxNumberStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "province": {
            "type": "string",
            "description": "Province. Only send when not blank"
          },
          "provinceStatus": {
            "type": "string",
            "description": "The sync status of this specific field. One of NOT_APPLICABLE, PRESENT, MISSING, MATCH, MISMATCH",
            "enum": [
              "MATCH",
              "MISMATCH",
              "PRESENT",
              "MISSING",
              "NOT_APPLICABLE"
            ]
          },
          "country": {
            "type": "string",
            "description": "Country. One of AT, CH, DE, ES, UK, FR, IT, NL",
            "enum": [
              "AF",
              "AX",
              "AL",
              "DZ",
              "AS",
              "AD",
              "AO",
              "AI",
              "AQ",
              "AG",
              "AR",
              "AM",
              "AW",
              "AU",
              "AT",
              "AZ",
              "BS",
              "BH",
              "BD",
              "BB",
              "BY",
              "BE",
              "BZ",
              "BJ",
              "BM",
              "BT",
              "BO",
              "BQ",
              "BA",
              "BW",
              "BV",
              "BR",
              "IO",
              "BN",
              "BG",
              "BF",
              "BI",
              "KH",
              "CM",
              "CA",
              "CV",
              "KY",
              "CF",
              "TD",
              "CL",
              "CN",
              "CX",
              "CC",
              "CO",
              "KM",
              "CG",
              "CD",
              "CK",
              "CR",
              "CI",
              "HR",
              "CU",
              "CW",
              "CY",
              "CZ",
              "DK",
              "DJ",
              "DM",
              "DO",
              "EC",
              "EG",
              "SV",
              "GQ",
              "ER",
              "EE",
              "ET",
              "FK",
              "FO",
              "FJ",
              "FI",
              "FR",
              "GF",
              "PF",
              "TF",
              "GA",
              "GM",
              "GE",
              "DE",
              "GH",
              "GI",
              "GR",
              "GL",
              "GD",
              "GP",
              "GU",
              "GT",
              "GG",
              "GN",
              "GW",
              "GY",
              "HT",
              "HM",
              "VA",
              "HN",
              "HK",
              "HU",
              "IS",
              "IN",
              "ID",
              "IR",
              "IQ",
              "IE",
              "IM",
              "IL",
              "IT",
              "JM",
              "JP",
              "JE",
              "JO",
              "KZ",
              "KE",
              "KI",
              "KP",
              "KR",
              "XK",
              "KW",
              "KG",
              "LA",
              "LV",
              "LB",
              "LS",
              "LR",
              "LY",
              "LI",
              "LT",
              "LU",
              "MO",
              "MK",
              "MG",
              "MW",
              "MY",
              "MV",
              "ML",
              "MT",
              "MH",
              "MQ",
              "MR",
              "MU",
              "YT",
              "MX",
              "FM",
              "MD",
              "MC",
              "MN",
              "ME",
              "MS",
              "MA",
              "MZ",
              "MM",
[...]
