{
  "openapi": "3.0.1",
  "info": {
    "title": "Aztrix on-the-go API"
  },
  "servers": [
    {
      "url": "https://api.aztrix.me/webhook/",
      "description": "Aztrix on-the-go server"
    },
    {
      "url": "https://api.development.aztrix.me/webhook/",
      "description": "Aztrix on-the-go development server"
    }
  ],
  "tags": [
    {
      "name": "users"
    },
    {
      "name": "locations"
    },
    {
      "name": "sites"
    },
    {
      "name": "inbox"
    },
    {
      "name": "ai"
    },
    {
      "name": "whitelabel"
    },
    {
      "name": "notifications"
    },
    {
      "name": "publish"
    },
    {
      "name": "analytics"
    },
    {
      "name": "verification"
    }
  ],
  "paths": {
    "/user/system": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Find the system for the user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "User email"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "system": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error occured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Provides an access_token for the user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "User email"
                  },
                  "password": {
                    "type": "string",
                    "description": "User Password"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User successfully authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Login"
                }
              }
            }
          },
          "400": {
            "description": "An error occured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/user/logout": {
      "post": {
        "tags": [
          "users"
        ],
        "responses": {
          "200": {
            "description": "Successfully logged out"
          },
          "500": {
            "description": "Error occurred during logout"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/user/oauth": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Finish OAuth flow",
        "description": "Provides an access_token for a authorization_code",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "authorization_code": {
                    "type": "string",
                    "description": "Authorization code"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User successfully authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "Access Token"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/user/register": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Registers a user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "User email"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User successfully authenticated"
          },
          "400": {
            "description": "An error occured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/user/reset-password": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Resets the user's password",
        "description": "Changes the user's password to a new password",
        "requestBody": {
          "description": "A ResetPassword object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPassword"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User password succesfully changed"
          },
          "400": {
            "description": "An error occured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/user/authenticated": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Is the user authenticated",
        "responses": {
          "200": {
            "description": "User is authenticated"
          },
          "400": {
            "description": "Error occurred"
          },
          "401": {
            "description": "User is not authenticated"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/user": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Get the current user",
        "responses": {
          "200": {
            "description": "Successfully retrieved user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "An error occured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "users"
        ],
        "summary": "Update the current user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully edited user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "An error occured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "users"
        ],
        "summary": "Delete the current user",
        "responses": {
          "200": {
            "description": "Successfully deleted user"
          },
          "400": {
            "description": "Invalid or missing parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/user/connections": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Get user connections",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DirectoryType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "connections successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Connection"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/user/connection": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "create a user connection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "required": true,
                    "$ref": "#/components/schemas/DirectoryType"
                  },
                  "platform": {
                    "required": true,
                    "$ref": "#/components/schemas/Platform"
                  },
                  "code": {
                    "required": true,
                    "type": "string"
                  },
                  "redirectUrl": {
                    "required": true,
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "connections successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/user/connection/locations": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "get locations from a connection",
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DirectoryType"
            }
          },
          {
            "name": "platform",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Platform"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "locations successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "connectionId": {
                        "type": "string"
                      },
                      "locations": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Location"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/location": {
      "get": {
        "tags": [
          "locations"
        ],
        "summary": "Get a Location",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "locations"
        ],
        "summary": "Update a Location",
        "description": "Make changes to a location. Any blank parameter deletes an old value, any unspecified parameter does nothing",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The unique id for the location you want to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Location object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Location"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Location successfully edited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "locations"
        ],
        "summary": "Create a Location",
        "requestBody": {
          "description": "Location object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Location"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Location successfully edited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "locations"
        ],
        "summary": "Delete a Location",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Location successfully edited",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/locations": {
      "get": {
        "tags": [
          "locations"
        ],
        "summary": "Get locations",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Locations successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/locations/search": {
      "get": {
        "tags": [
          "locations"
        ],
        "summary": "Search for locations",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "search by name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z]{2}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Locations successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/categories": {
      "get": {
        "tags": [
          "locations"
        ],
        "summary": "Get categories",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Filter categories by a search query",
            "schema": {
              "type": "string"
            },
            "example": "Auto"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Show categories in the specified language. One of de, en, es, fr",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "A list of categories",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/location/photo": {
      "post": {
        "tags": [
          "locations"
        ],
        "requestBody": {
          "description": "The photo data to upload",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "locationId",
                  "photo",
                  "type"
                ],
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "A description for the photo - max 255 chars"
                  },
                  "locationId": {
                    "type": "string"
                  },
                  "photo": {
                    "type": "string",
                    "description": "file or base64"
                  },
                  "type": {
                    "$ref": "#/components/schemas/LocationPhotoType"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "400": {
            "description": "An error occured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "locations"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/LocationPhotoType"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The photo has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "400": {
            "description": "An error occured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/search": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Search individuals or locations",
        "parameters": [
          {
            "name": "countryCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "categories",
            "description": "SIC category codes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "boundingBox",
            "in": "query",
            "schema": {
              "type": "object",
              "properties": {
                "topLeft": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "type": "string"
                    },
                    "longitude": {
                      "type": "string"
                    }
                  }
                },
                "bottomRight": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "type": "string"
                    },
                    "longitude": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationOrIndividual"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/site/colors": {
      "get": {
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "sites"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "primary100": {
                    "type": "string"
                  },
                  "primary300": {
                    "type": "string"
                  },
                  "primary500": {
                    "type": "string"
                  },
                  "primary900": {
                    "type": "string"
                  },
                  "secondary100": {
                    "type": "string"
                  },
                  "secondary300": {
                    "type": "string"
                  },
                  "secondary500": {
                    "type": "string"
                  },
                  "secondary900": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/ai/legacy/conversation": {
      "deprecated": true,
      "post": {
        "tags": [
          "ai"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "conversationId": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "userLocation": {
                    "type": "object",
                    "properties": {
                      "latitude": {
                        "minimum": -90,
                        "maximum": 90,
                        "type": "number",
                        "format": "double"
                      },
                      "longitude": {
                        "minimum": -180,
                        "maximum": 180,
                        "type": "number",
                        "format": "double"
                      },
                      "freeform": {
                        "type": "string"
                      }
                    }
                  },
                  "dateTime": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string"
                    },
                    "conversationId": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "description": "All messages in the conversation including the assistant response",
                      "items": {
                        "type": "object",
                        "properties": {
                          "role": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/ai/legacy/chat": {
      "deprecated": true,
      "post": {
        "tags": [
          "ai"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId"
                ],
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "description": "All messages in the conversation including the assistant response",
                      "items": {
                        "type": "object",
                        "properties": {
                          "role": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/ai/chat": {
      "deprecated": true,
      "post": {
        "tags": [
          "ai"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sessionId",
                  "message"
                ],
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "sessionId": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "userLocation": {
                    "type": "object",
                    "properties": {
                      "latitude": {
                        "minimum": -90,
                        "maximum": 90,
                        "type": "number",
                        "format": "double"
                      },
                      "longitude": {
                        "minimum": -180,
                        "maximum": 180,
                        "type": "number",
                        "format": "double"
                      },
                      "freeform": {
                        "type": "string"
                      }
                    }
                  },
                  "dateTime": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string"
                    },
                    "sessionId": {
                      "type": "string"
                    },
                    "response": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/ai/chat/data": {
      "deprecated": true,
      "post": {
        "tags": [
          "ai"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sessionId",
                  "message"
                ],
                "properties": {
                  "sessionId": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "userLocation": {
                    "type": "object",
                    "properties": {
                      "latitude": {
                        "type": "number",
                        "format": "double"
                      },
                      "longitude": {
                        "type": "number",
                        "format": "double"
                      },
                      "freeform": {
                        "type": "string"
                      }
                    }
                  },
                  "dateTime": {
                    "type": "string"
                  },
                  "locationId": {
                    "type": "string"
                  },
                  "toolResponses": {
                    "$ref": "#/components/schemas/AiToolResponses"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "attributes": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "keywords": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "email": {
                          "type": "string"
                        },
                        "emailBody": {
                          "type": "string"
                        },
                        "emailSubject": {
                          "type": "string"
                        },
                        "textBody": {
                          "type": "string"
                        }
                      }
                    },
                    "actions": {
                      "type": "object",
                      "properties": {
                        "search": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/LocationOrIndividual"
                          }
                        },
                        "keywords": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "description": {
                          "type": "string"
                        },
                        "openingHours": {
                          "$ref": "#/components/schemas/OpeningHours"
                        },
                        "call": {
                          "type": "object",
                          "properties": {
                            "phone": {
                              "type": "string"
                            }
                          }
                        },
                        "text": {
                          "type": "object",
                          "properties": {
                            "phone": {
                              "type": "string"
                            },
                            "content": {
                              "type": "string"
                            }
                          }
                        },
                        "email": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "string"
                            },
                            "subject": {
                              "type": "string"
                            },
                            "body": {
                              "type": "string"
                            }
                          }
                        },
                        "updateContact": {
                          "type": "object",
                          "properties": {
                            "contact": {
                              "$ref": "#/components/schemas/LocationOrIndividual"
                            },
                            "results": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/LocationOrIndividual"
                              }
                            }
                          }
                        }
                      }
                    },
                    "toolCalls": {
                      "$ref": "#/components/schemas/AiToolResponses"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/ai/conversation/action": {
      "get": {
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error occured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/ai/conversation/message": {
      "post": {
        "tags": [
          "ai"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "conversationId",
                  "message"
                ],
                "properties": {
                  "conversationId": {
                    "type": "string"
                  },
                  "message": {
                    "$ref": "#/components/schemas/AiMessage"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully added a message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiMessages"
                }
              }
            }
          },
          "400": {
            "description": "An error occured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/ai/conversation": {
      "get": {
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiMessages"
                }
              }
            }
          },
          "400": {
            "description": "An error occured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "ai"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "conversationId"
                ],
                "properties": {
                  "conversationId": {
                    "type": "string"
                  },
                  "action": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully added a message",
            "content": {
              "application/jsonl": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "begin",
                        "item",
                        "end",
                        "error"
                      ]
                    },
                    "content": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/ai/conversations": {
      "get": {
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved conversations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AiConversation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error occured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/ai/conversation/data": {
      "post": {
        "tags": [
          "ai"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "conversationId"
                ],
                "properties": {
                  "conversationId": {
                    "type": "string"
                  },
                  "action": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiMessages"
                }
              }
            }
          },
          "400": {
            "description": "An error occured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/ai/memories": {
      "get": {
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved memories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "next": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "previous": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "memories": {
                      "$ref": "#/components/schemas/AiMemories"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted memory"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/ai/suggestions/description": {
      "get": {
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfull",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error occured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/ai/suggestions/keywords": {
      "get": {
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfull",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keywords": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error occured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/inbox": {
      "post": {
        "tags": [
          "inbox"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "startDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "status": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "resolved",
                        "unresolved",
                        "replied",
                        "unreplied",
                        "contentUpdated",
                        "contentNonUpdated"
                      ]
                    }
                  },
                  "pageToken": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "$ref": "#/components/schemas/InboxItems"
                    },
                    "nextPageToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/inbox/item": {
      "get": {
        "tags": [
          "inbox"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxItem"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/inbox/reply": {
      "post": {
        "tags": [
          "inbox"
        ],
        "parameters": [
          {
            "name": "datapointId",
            "in": "path",
            "description": "Data point ID you want to reply to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "required": [
                    "reply"
                  ],
                  "reply": {
                    "type": "string",
                    "description": "The text you want to reply"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Reply sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPoint"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "404": {
            "description": "Data point not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/whitelabel": {
      "get": {
        "tags": [
          "whitelabel"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhitelabelData"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/notifications/register": {
      "post": {
        "tags": [
          "notifications"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorised"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/notifications/config": {
      "get": {
        "tags": [
          "notifications"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "newReviews": {
                      "type": "boolean"
                    },
                    "newReviewsIgnoreDirectories": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DirectoryType"
                      }
                    },
                    "newReviewsIgnoreStars": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "format": "int32"
                      }
                    },
                    "newSocialComments": {
                      "type": "boolean"
                    },
                    "aiSuggestions": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "notifications"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "newReviews": {
                    "type": "boolean"
                  },
                  "newReviewsIgnoreDirectories": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/DirectoryType"
                    }
                  },
                  "newReviewsIgnoreStars": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "newSocialComments": {
                    "type": "boolean"
                  },
                  "aiSuggestions": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorised"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/publish/posts": {
      "get": {
        "tags": [
          "publish"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialPosts"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "publish"
        ],
        "requestBody": {
          "description": "A SocialPost object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SocialPost"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Social Posts created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialPost"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "publish"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Social Post deleted"
          },
          "401": {
            "description": "Unauthorised"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/location/listings": {
      "get": {
        "tags": [
          "locations"
        ],
        "parameters": [
          {
            "name": "locationId",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platform",
            "required": true,
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Platform"
            }
          },
          {
            "name": "redirectUrl",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listings successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Listing"
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error occured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/location/listing": {
      "get": {
        "tags": [
          "locations"
        ],
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listing successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          },
          "400": {
            "description": "An error occured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "locations"
        ],
        "summary": "Create or update a Listing",
        "requestBody": {
          "description": "Listing object",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "locationId",
                  "type",
                  "connectionId",
                  "externalLocationId"
                ],
                "properties": {
                  "locationId": {
                    "type": "string"
                  },
                  "type": {
                    "$ref": "#/components/schemas/DirectoryType"
                  },
                  "connectionId": {
                    "type": "string"
                  },
                  "externalLocationId": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Listing successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          },
          "400": {
            "description": "An error occured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/location/listing/sync": {
      "post": {
        "tags": [
          "locations"
        ],
        "summary": "Sync a listing",
        "parameters": [
          {
            "name": "listingId",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Resolve conflicts",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Location"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "listing"
                  ],
                  "properties": {
                    "listing": {
                      "$ref": "#/components/schemas/Listing"
                    },
                    "conflicts": {
                      "$ref": "#/components/schemas/ListingConflicts"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error occured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/analytics": {
      "get": {
        "tags": [
          "analytics"
        ],
        "parameters": [
          {
            "name": "locationIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date YYYY-MM-DD",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date YYYY-MM-DD",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "The types of metrics you want to get",
            "schema": {
              "$ref": "#/components/schemas/DirectoryType"
            }
          },
          {
            "name": "metricNames",
            "in": "query",
            "required": true,
            "description": "The types of metrics you want to get",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/MetricName"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metrics"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or Missing parameter"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "authToken": []
          }
        ]
      }
    },
    "/verify/send-otp": {
      "post": {
        "tags": [
          "verification"
        ],
        "summary": "Send OTP for email or SMS verification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerificationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OTP sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/verify/check-otp": {
      "post": {
        "tags": [
          "verification"
        ],
        "summary": "Verify OTP code",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyCodeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OTP verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or verification failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/verify/status": {
      "get": {
        "tags": [
          "verification"
        ],
        "summary": "Check verification status",
        "parameters": [
          {
            "name": "verificationId",
            "in": "query",
            "required": true,
            "description": "The verification ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verification status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationStatus"
                }
              }
            }
          },
          "404": {
            "description": "Verification not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/verify/eid/initiate": {
      "post": {
        "tags": [
          "verification"
        ],
        "summary": "Initiate eID verification via IDURA",
        "description": "Starts an eID verification flow using IDURA OIDC. Returns an authorization URL for the user to authenticate with their eID provider.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EidVerificationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "eID verification initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EidVerificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/verify/eid/callback": {
      "post": {
        "tags": [
          "verification"
        ],
        "summary": "Process eID verification callback",
        "description": "Processes the OIDC callback after user authenticates with their eID provider. Exchanges the authorization code for an ID token and updates the location verification status.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EidCallbackRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "eID verification callback processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EidCallbackResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid callback data or verification failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/verify/eid/status": {
      "get": {
        "tags": [
          "verification"
        ],
        "summary": "Check eID verification status",
        "description": "Returns the current status of an eID verification session including verified user data if successful.",
        "parameters": [
          {
            "name": "verificationId",
            "in": "query",
            "required": true,
            "description": "The eID verification session ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "eID verification status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EidVerificationStatus"
                }
              }
            }
          },
          "404": {
            "description": "Verification session not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "details": {
            "type": "object"
          }
        }
      },
      "VerificationRequest": {
        "type": "object",
        "required": [
          "type",
          "target"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "email",
              "sms"
            ],
            "description": "Type of verification"
          },
          "target": {
            "type": "string",
            "description": "Email address or phone number to verify"
          },
          "locationId": {
            "type": "string",
            "description": "Optional location ID to associate with verification"
          }
        }
      },
      "VerificationResponse": {
        "type": "object",
        "properties": {
          "verificationId": {
            "type": "string",
            "description": "Unique identifier for this verification"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the OTP expires"
          },
          "accountExists": {
            "type": "boolean",
            "description": "Whether an account already exists for this email"
          }
        }
      },
      "VerifyCodeRequest": {
        "type": "object",
        "required": [
          "verificationId",
          "code"
        ],
        "properties": {
          "verificationId": {
            "type": "string",
            "description": "The verification ID from send-otp response"
          },
          "code": {
            "type": "string",
            "description": "The OTP code to verify"
          },
          "provisionAccount": {
            "type": "boolean",
            "description": "If true, create a passwordless account on successful verification (for new users)"
          },
          "loginAccount": {
            "type": "boolean",
            "description": "If true, login to existing account on successful verification (for login flow)"
          }
        }
      },
      "VerifyCodeResponse": {
        "type": "object",
        "properties": {
          "verified": {
            "type": "boolean",
            "description": "Whether the verification was successful"
          },
          "type": {
            "type": "string",
            "enum": [
              "email",
              "sms"
            ],
            "description": "Type of verification that was completed"
          },
          "access_token": {
            "type": "string",
            "description": "JWT access token if account was provisioned or logged in"
          },
          "accountStatus": {
            "type": "string",
            "enum": [
              "created",
              "existing"
            ],
            "description": "Status of the account after verification"
          },
          "account_type": {
            "type": "string",
            "description": "The type of account (e.g., passwordless)"
          }
        }
      },
      "VerificationStatus": {
        "type": "object",
        "properties": {
          "verificationId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "email",
              "sms"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "sent",
              "verified",
              "expired",
              "failed"
            ],
            "description": "Current status of the verification"
          },
          "attempts": {
            "type": "integer",
            "description": "Number of verification attempts made"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "verifiedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EidProvider": {
        "type": "string",
        "enum": [
          "swedish_bankid",
          "danish_mitid",
          "norwegian_bankid",
          "german_ausweis",
          "finnish_trust_network"
        ],
        "description": "Available European eID providers"
      },
      "EidVerificationRequest": {
        "type": "object",
        "required": [
          "provider",
          "redirectUri"
        ],
        "properties": {
          "provider": {
            "$ref": "#/components/schemas/EidProvider"
          },
          "redirectUri": {
            "type": "string",
            "description": "The URI to redirect to after eID authentication"
          },
          "locationId": {
            "type": "string",
            "description": "Optional location ID to associate with the verification"
          },
          "state": {
            "type": "string",
            "description": "Optional state parameter for CSRF protection"
          }
        }
      },
      "EidVerificationResponse": {
        "type": "object",
        "properties": {
          "verificationId": {
            "type": "string",
            "description": "Unique identifier for this eID verification session"
          },
          "authorizationUrl": {
            "type": "string",
            "description": "The URL to redirect the user to for eID authentication"
          },
          "state": {
            "type": "string",
            "description": "State parameter for CSRF protection"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this verification session expires"
          }
        }
      },
      "EidCallbackRequest": {
        "type": "object",
        "required": [
          "verificationId",
          "code"
        ],
        "properties": {
          "verificationId": {
            "type": "string",
            "description": "The verification session ID"
          },
          "code": {
            "type": "string",
            "description": "The authorization code from the OIDC callback"
          },
          "state": {
            "type": "string",
            "description": "The state parameter for CSRF validation"
          }
        }
      },
      "EidCallbackResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the verification was successful"
          },
          "verificationId": {
            "type": "string",
            "description": "The verification session ID"
          }
        }
      },
      "EidVerificationStatus": {
        "type": "object",
        "properties": {
          "verificationId": {
            "type": "string"
          },
          "provider": {
            "$ref": "#/components/schemas/EidProvider"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "verified",
              "expired",
              "failed"
            ],
            "description": "Current status of the eID verification"
          },
          "verifiedData": {
            "$ref": "#/components/schemas/EidVerifiedData"
          },
          "locationId": {
            "type": "string",
            "description": "The location ID associated with this verification"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "verifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "error": {
            "type": "string",
            "description": "Error message if verification failed"
          }
        }
      },
      "EidVerifiedData": {
        "type": "object",
        "description": "Data extracted from the verified eID",
        "properties": {
          "givenName": {
            "type": "string",
            "description": "The user's given/first name"
          },
          "familyName": {
            "type": "string",
            "description": "The user's family/last name"
          },
          "personalNumber": {
            "type": "string",
            "description": "The user's personal identification number (if available)"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date",
            "description": "The user's date of birth"
          },
          "country": {
            "type": "string",
            "description": "The country of the eID issuer"
          }
        }
      },
      "Login": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "Access Token"
          },
          "oauth": {
            "type": "boolean",
            "description": "Whether OAuth should be initiated"
          }
        },
        "description": "User access_token"
      },
      "ResetPassword": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "newPassword": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "firstname": {
            "type": "string",
            "description": "First Name"
          },
          "lastname": {
            "type": "string",
            "description": "Last name"
          },
          "email": {
            "type": "string",
            "description": "User email"
          },
          "phone": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          }
        },
        "description": "User Model"
      },
      "Connection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "Individual": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "firstname": {
            "type": "string",
            "description": "First Name"
          },
          "lastname": {
            "type": "string",
            "description": "Last name"
          },
          "email": {
            "type": "string",
            "description": "Email"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "birthDate": {
            "type": "string",
            "format": "date"
          },
          "source": {
            "type": "string"
          }
        },
        "description": "User Model"
      },
      "Location": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "email": {
            "type": "string"
          },
          "cellphone": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "fax": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "keywords": {
            "$ref": "#/components/schemas/Keywords"
          },
          "openingHours": {
            "$ref": "#/components/schemas/OpeningHours"
          },
          "specialOpeningHours": {
            "$ref": "#/components/schemas/SpecialOpeningHours"
          },
          "logo": {
            "$ref": "#/components/schemas/Photo"
          },
          "coverPhoto": {
            "$ref": "#/components/schemas/Photo"
          },
          "photoGallery": {
            "$ref": "#/components/schemas/PhotoGallery"
          },
          "timezone": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "categories": {
            "$ref": "#/components/schemas/Categories"
          },
          "averageRating": {
            "type": "number",
            "format": "float"
          },
          "reviewCount": {
            "type": "integer",
            "format": "int32"
          },
          "sponsored": {
            "type": "boolean"
          },
          "source": {
            "type": "string"
          },
          "emailVerified": {
            "type": "boolean"
          },
          "emailVerifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "phoneVerified": {
            "type": "boolean"
          },
          "phoneVerifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "instagram": {
            "type": "string",
            "description": "Instagram username or URL"
          },
          "facebook": {
            "type": "string",
            "description": "Facebook page URL"
          },
          "twitter": {
            "type": "string",
            "description": "Twitter/X username or URL"
          },
          "whatsapp": {
            "type": "string",
            "description": "WhatsApp phone number"
          },
          "snapchat": {
            "type": "string",
            "description": "Snapchat username"
          },
          "linkedin": {
            "type": "string",
            "description": "LinkedIn profile/company URL"
          },
          "verified": {
            "type": "boolean",
            "description": "Whether the location has been verified via eID (IDURA)"
          },
          "verifiedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the location was verified via eID"
          },
          "verifiedBy": {
            "type": "string",
            "description": "Name of the person who verified the location"
          }
        }
      },
      "LocationOrIndividual": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/Location"
          },
          {
            "$ref": "#/components/schemas/Individual"
          }
        ]
      },
      "Address": {
        "required": [
          "streetAndNo",
          "city",
          "postalCode",
          "countryCode"
        ],
        "type": "object",
        "properties": {
          "streetAndNo": {
            "minLength": 0,
            "maxLength": 255,
            "type": "string"
          },
          "postalCode": {
            "minLength": 0,
            "maxLength": 10,
            "type": "string"
          },
          "city": {
            "minLength": 0,
            "maxLength": 255,
            "type": "string"
          },
          "region": {
            "minLength": 0,
            "maxLength": 255,
            "type": "string"
          },
          "countryCode": {
            "minLength": 0,
            "pattern": "^[a-zA-Z]{2}$",
            "type": "string"
          },
          "extraDescription": {
            "minLength": 0,
            "maxLength": 255,
            "type": "string"
          },
          "latitude": {
            "minimum": -90,
            "maximum": 90,
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "minimum": -180,
            "maximum": 180,
            "type": "number",
            "format": "double"
          }
        }
      },
      "Categories": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Category"
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Keywords": {
        "type": "array",
        "items": {
          "$ref": "string"
        }
      },
      "OpeningHours": {
        "type": "array",
        "items": {
[...]
