# on_the_go_sdk.model.VerificationStatus

## Load the model package
```dart
import 'package:on_the_go_sdk/api.dart';
```

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**verificationId** | **String** |  | [optional] 
**type** | **String** |  | [optional] 
**status** | **String** | Current status of the verification | [optional] 
**attempts** | **int** | Number of verification attempts made | [optional] 
**expiresAt** | [**DateTime**](DateTime.md) |  | [optional] 
**verifiedAt** | [**DateTime**](DateTime.md) |  | [optional] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


